
storage "raft" {
  path = "/opt/vault/data"
  node_id = "raft_node_2"
}

# HTTPS listener
listener "tcp" {
  address       = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
#  tls_cert_file = "/opt/vault/tls/tls.crt"
#  tls_key_file  = "/opt/vault/tls/tls.key"
   tls_disable   = true
}
api_addr       = "http://13.232.162.218:8200"

cluster_addr   = "https://172.31.34.67"

ui             = true

disable_mlock  = true

disable_cache  = true

log_level      = "trace"

cluster_name   = "vault-integrated-storage-cluster"

